* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

div#general {
    margin: auto;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width:auto;    
    height: 500px;
    background-color: #222;
}

    div#izquierda  {
        float: left;
        width: 30%;
        border-right: solid blue;
   
       
    }

    div#derecha {
        float:right;
        width:70%;
    
    }


        .menu {
            display: flex;
        }
        .menu p {
            margin-right: 2rem;
            cursor: pointer;
        }

        .content {
            margin-top: 2rem;
        }

        [data-content] {
            display: none;
        }


 h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
}

nav h2{
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
}

p{
    color: white;
    width: 100%;
    list-style: none;
    text-align: justify;
    font-size: 20px;
    border: 1px;
    border-color: black;
    border-style: dashed;
    padding: 20px;

}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    
}

li {
    color:white;
    font-size: 30px;
    text-align: justify;
}