* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
 body {
    background-color:aqua;
    background-image:url( "https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/phpVmOHiw.png")
 } 
div#contenedor {
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    
}
div#general {
    margin: auto;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    background-color: #222;
}

    div#izquierda  {
        float: inline-start;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-bottom: 5px solid white;
        

         
   
       
    }

    div#derecha {
        float:inline-end;
        width:100%;
        padding: 10px;
        
    
    }


        .menu {
            display: flex;
            width: 100%;
                        
            
        }
        .menu p {
            margin:auto;
            margin-right: 1rem;
            cursor: pointer;
            text-align: center;
            border-style: solid;
            border-color: white;
            

        }

        .content {
            margin: auto;
            margin-top: 2rem;
        }
        .content h3 {
            color: white;
            margin-left:20% ;
            margin-right: 20%;
            
        }
        .content p {
            width: auto;
            margin-left:20% ;
            margin-right: 20%;
            padding: 10%;
        }

        [data-content] {
            display: none;
        }
        
        .active[data-content] {
            display: block;
        }

header{
    background-color: #222;
    width: 100%;
    padding: 20px;
}

 h1{
    text-align: center;
    color: white;
    
    
}

p{
    color: white;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    border: 1px;
    padding: 20px;

}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    
    
}

li {
    color:white;
    font-size: 30px;
    text-align: justify;
    margin-left: 10%;
    padding: 10px;
    align-self: center; 


}


@media screen and (max-width:1200px){
    .menu {
        display:list-item;

    }

    li {
        font-size: 15px;
    } 
    
}

footer {
    margin: auto;
    
    color: #222;
    background-color: #222;
}

footer p {
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}